<!DOCTYPE html>
<html>
  <head>
        <title>Noname Panel</title>
        <link rel="stylesheet" type="text/css" href="/nn_admin/css/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/vue/2.0.3/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
        <script src="/nn_admin/js/lodash.js"></script>
        <script src="/nn_admin/js/marked.js"></script>
        <style>
        p img {
              width: 100%;
        }</style>
  </head>