{% include 'header.html' %}

<div class="ui grid padded">
<div class="five wide column centered">
    <div class="ui teal message">noname | Blazingly Fast CMS</div>
<form action="/nn-admin/signin" method="POST" class="ui form fluid">
  <div class="field">
    <label>username</label>
    <input name="user" placeholder="First Name" type="text">
  </div>
  <div class="field">
    <label>pass</label>
    <input name="pass" placeholder="Last Name" type="password">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
</div>
</div>